<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString"
			 connectionString="Server = DESKTOP-H2095O8\SQLEXPRESS; Database = ProductManagerDB; Trusted_Connection = true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>